* {
  font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, Geneva, Verdana, sans-serif;
}
.TodoList {
  width: 320px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}
.TodoListTitle {
  display: inline-block;
  text-align: center;
  width: 300px;
  border-radius: 10px;
  transition: background-color 0.6s;
  font-size: 20px;
  margin-left: 20px;
}
.TodoItemList {
  width: 320px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  height: 150px;
  max-height: 150px;
  overflow: auto;
}
.title {
  display: inline-block;
  width: 150px;
  font-size: 25px;
  padding-bottom: 5px;
  transition: background-color 0.6s;
}
.delete {
  margin-top: 7px;
  width: 15px;
  margin-right: 10px;
  float: right;
}
.delete:hover {
  width: 25px;
  margin-top: 2px;
  margin-right: 0;
  background-color: transparent;
}
.write {
  width: 15px;
  margin-top: 7px;
  margin-right: 10px;
  background-color: transparent;
  float: right;
}
.write:hover {
  width: 25px;
  margin-top: 2px;
  margin-right: 0;
  background-color: transparent;
}
.Input {
  margin: 5px;
  width: 200px;
}
.TodoItem {
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
  width: 300px;
  border-radius: 10px;
  transition: background-color 0.6s;
}
.TodoItem:hover {
  background-color: #ccddff;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 10px;
  transition: background-color 0.6s;
}
.button {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  transition: background-color 0.6s;
}
.button:hover  {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: lightslategray;
  transition: background-color 0.6s;
} 
.buttonComplete {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.50);
  border-width: 1px;
  border-style: solid;
  border-color: black;
  transition: background-color 0.6s;
}
.buttonComplete:hover {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: lightslategray;
  transition: background-color 0.6s;
}
.thing {
  background-color: transparent;
  display: inline-block;
  width: 220px;
  font-size: 20px;
  border-radius: 30px;
  transition: background-color 0.6s;
}
.thingComplete {
  background-color: transparent;
  color: rgba(128, 128, 128, 0.47);  
  display: inline-block;
  width: 220px;
  font-size: 20px;
  border-radius: 30px;
  transition: background-color 0.6s;
  text-decoration: line-through;
}
.ToolBarItem {
  font-size: 13px;
  width: 70px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.50);
  color: white;
  height: 20px;
  margin-right: 5px;
  max-height: 30px;
  display: inline-block;
}
.ToolBar {
  font-size: 13px;
  width: 70px;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.50);
  color: white;
  height: 20px;
  margin-right: 5px;
  max-height: 30px;
  display: inline-block;
  transition: background-color 0.3s;
}
.ToolBar:hover {
  background-color: rgba(206, 25, 25,0.20);
  transition: background-color 0.3s;
}
.ToolBarDown {
  font-size: 13px;
  width: 70px;
  border-radius: 10px;
  background-color: rgba(206, 25, 25, 0.5);
  color: white;
  height: 20px;
  margin-right: 5px;
  max-height: 30px;
  display: inline-block;
}
.Tool {
  margin-left: 10px;
  margin-right: -12px;
  background-color: #607D8B;
  border-radius: 5px;
}
.AddButton {
  width: 20%;
  margin-left: 40%;
  margin-top: 10px;
  border-radius: 20px;
  background-color: slategrey;
  color: black;
  transition: background-color 0.6s;
  transition: color 0.6s;
}
.AddButton:hover {
  background-color: dimgray;
  color: white;
  transition: background-color 0.6s;
  transition: color 0.6s;
}
